body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.Logo {
    max-width: 50px;
    cursor: pointer;
}

.navbar h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
}

.navbar .icon {
    margin-left: auto;
}

.main-container {
    display: flex;
    width: auto;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin: 15px 0;
    font-size: 1.2em;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.anime-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 45%;
    max-width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.anime-card img {
    width: 100%;
    height: auto;
}

.anime-card h3 {
    margin: 8px 0;
    font-size: 1em;
}

.anime-card p {
    margin: 8px;
    font-size: 0.8em;
}

.anime-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.anime-card .type,
.anime-card .rating {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-radius: 5px;
    font-size: 0.7em;
}

.anime-card .type {
    top: 5px;
    left: 5px;
}

.anime-card .rating {
    top: 5px;
    right: 5px;
}

.bookmark-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.5em;
    color: gray;
    cursor: pointer;
}

.bookmarked {
    color: gold;
}

@media (max-width: 768px) {
    .navbar h1 {
        font-size: 1em;
    }

    .content {
        margin-left: 0;
    }

    .anime-card {
        width: 45%;
        border-radius: 10px;
    }

    .section-title {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .navbar h1 {
        font-size: 0.9em;
    }

    .anime-card {
        width: 80%;
    }

    .section-title {
        font-size: 0.9em;
    }
}
